.logo__link {
  color: $color-default-white;

  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:hover {
    opacity: 0.8;
  }
}

.logo__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo__svg {
  @include vp-767 {
    display: none;
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
